<#include '../layout.ftlh'>

<@layout title="Avion - list">
    <a href="/avions/add">Ajouter</a>
    <table>
        <thead>
        <tr>
            <th>Immatriculation</th>
            <th>Propriétaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <#list avions as avion>
            <tr>
                <td>${avion.imma}</td>
                <td>${avion.owner.nom}</td>
                <td>
                    <a class="btn yellow" href="/avions/${avion.id}">Update</a>
                </td>
            </tr>
        </#list>
        </tbody>
    </table>
</@layout>