<#macro matInputText label  name id  errors value="" type="text">
    <div class="input-field">
        <input type="${type}" name="${name}" id="${id}" value="${value}">
        <label for="${id}">${label}</label>
        <#if errors?? && errors[name]??>
            <div class="error red-text">
                <ul>
                    <#list errors[name] as error>
                        <li>${error.defaultMessage}</li>
                    </#list>
                </ul>
            </div>
        </#if>
    </div>
</#macro>